.inquiry_result {
    margin: 30px 33px;
}

.cards_title {
    color: #ABABAB;
    font-size: 0.75em;
}

.th_custom_style {
    font-size: 0.77em;
    line-height: 2.5em;
}

.td_title {
    font-size: 0.7em;
    line-height: 2em;
    font-weight: 600;
}
.td_detail {
    font-size: 0.7em;
    line-height: 2em;
}

.card_container_bg {
    background-color: #e8e8e8;
    border-radius: 10px;
    padding: 20px;

    a {
        margin: auto;
    }

    img {
        width: 100%;
        padding: 20px;
        width: 200px;
        margin: auto;
    }
}

.salary_box_wrapper {
    color: #868fff;
    font-size: 0.85em;
    text-align: center;
    font-weight: 600;
}

.name_box_wrapper {
    font-weight: 600;
    color: #333333;
    font-size: 0.9em;
    text-align: left;
}

.age_box_wrapper {
    color: #ABABAB;
    font-size: 0.75em;
    text-align: left;
}

.info_box_wrapper {
    background-color: #fff;
    padding: 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .1);
    border-radius: 5px;
}